.create-child-malnutrition label.no-style {
  padding: 0;
  font-size: 16px;
  position: relative;
}
.upload-prescription input[type="file"] {
  display: inline-block;
  font-size: 0;
}
.patient-details span.text-muted{
  text-transform: capitalize;
}
.patient-details span.text-muted span{
  /* max-width: 115px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: auto; */
    font-weight: 600;
}
.health-chart a svg{
  width:16px;
  fill: #af1e25;
}

.charts{
  position: absolute;
  top: 65px;
  right: -20px;
  font-size: 14px;
  font-weight: 500;
  transform: rotate(90deg);
  width:65px;
  display: flex;
}

.charts svg{
  width:16px;
  fill: #af1e25;
  margin-right: 6px;
}

.button-box .charts a{
  padding: 0;
}
.d-text{
  font-style: italic;
  font-size: 12px;
}
.btn:hover{
  background-color: transparent;
}
.btn:active{
  background-color: transparent;
  border: 0;
}