.create-elder-person label.no-style,
.basicinfo-elder-persons label.no-style {
  padding: 0;
  font-size: 16px;
  position: relative;
}

.elder-persons .button-box p{
  text-transform: capitalize;
}

.tab-container button.large {
    width: 120px;
}