.bookings{
  position: relative;
}

.bookings .button-box{
  padding: 10px;
  text-align: left;
}

.bookings .button-box span{
  /* color: #a80707; */
  font-weight: 500;
}

.add-booking{
  text-align: right;
}

.bookings .button-box .drop-menu ul li a {
  padding: 0;
  font-size: 14px;
}

.bookings .my-element2.active + .drop-menu{
  top: 30px;
}

.bookings .button-box a{
  padding: 6px 12px;
  display: inline-block;
}