.bookings{
  position: relative;
}

.bookings .button-box{
  padding: 10px;
  text-align: left;
}

.bookings .button-box span{
  color: #a80707;
  font-weight: 500;
}

.add-booking{
  text-align: right;
}