

.app-body{
  padding:25px 15px;
  margin-bottom: 55px;
  margin-top: 70px;
}

.app-body.dashboard svg{
  font-size: 38px;
}

.app-body svg{
  color:#9f9f9f;
}

.red-box{
  color: #fff;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 20px;
}
.red-box a{
  color: #fff;
}
.app-body.dashboard .red-box svg{
  color: #fff;
  font-size: 28px;
}

.red-box p{
  font-size: 14px;
  line-height: 18px;
}

ul.list-style li{
  list-style: disc;
}

.banner{
  padding-bottom: 20px;
}

.banner img{
  width: 100%;
  border-radius: 10px;
}

.slick-dots li button:before{
  font-size: 10px!important;
}

.profile-img{
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
}



