.feedback p.small{
  font-size: 12px;
}

.feedback .feedback-form .normal-box button{
  margin-bottom:8px;
  margin-right: 8px;
}

.feedback .feedback-form label {
  color: #818181;
  position: absolute;
  padding: 10px;
  font-size: 12px;
  z-index: 1;
}

.feedback .feedback-form textarea {
  padding-top: 1.825rem;
}

.use-app button{
  font-size: 14px;
  padding: 5px 10px;
}

.feedback-form .normal-box{
  width: 100%;
  white-space: normal;
}

.normal-box .rating-star span{
  display: inline-block;
}

.serviceplace-container-class .feedback .normal-box .use-app .btn-outline-info:hover,
.serviceplace-container-class .feedback .normal-box .use-app .btn-outline-info.active{
  color: #fff;
  border: 1px solid transparent;
}

/* .serviceplace-container-class .feedback .normal-box .use-app .btn-outline-info.active{
  background-color: #009fdc;
} */

.rating-star{
  display: flex;
  align-items: center;
}

.rating-symbol .star{
  font-size: 24px;
}

.rating-symbol .star-count{
  margin-left: 10px;
}

.rating-symbol>div{
  display: flex;
  align-items: center;
}

.rating-symbol span.star-count{
  background-color: #af1e25;
  color: #fff;
  width: 30px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border-radius: 4px;
  font-size: 14px;
  padding: 0 5px;
}

