.change-password input[type="password"]{
  /* border: 1px solid #e7e7e7; */
}

.change-password form .form-group .icon-font{
  position: absolute;
  right: 10px;
  top: 20px;
}

.back-to-login{
  position: fixed;
  bottom: 0;
  box-shadow: 0px 0px 4px #ccc;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  background-color: #fff;
}

.back-to-login a{
  text-decoration: none;
  /* color: #6d0000; */
  font-weight: 500;
}
.change-password a,
a{
  text-decoration: none;
}
