.login-container{
  max-width: 375px;
  margin: 0 auto;
}

.login-container svg{
  color: #818181;
}

.login-box{
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 50px;
  border: 1px solid #eeeeee;
  padding: 30px 40px;
}

.login-box h2{
  font-size: 22px;
}

.login-box p{
  color: #818181;
}

.login-box form{
  width: 100%;
}

.login-box form .form-group{
  margin-bottom: 20px;
}

.login-box form label{
  color: #818181;
  position: absolute;
  padding: 10px;
  font-size: 12px;
}

.login-box form input{
  /* border-radius: 0;
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 0;
  background-clip: text; */

  padding-top: 1.825rem;
  padding-bottom: 0.625rem;
}

.login-box form .form-group{
  position: relative;
}

.login-box form .form-group .icon-font{
  position: absolute;
  right: 10px;
  top: 20px;
}

.login-box img{
  max-width: 150px;
}

.link-red a{
  /* color: #6d0000; */
  text-decoration: none;
  font-weight: 500;
}