.patient-profiles{
  position: relative;
}
.patient-profiles .button-box{
  position: relative;
}

.patient-profiles .button-box img{
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.three-dot{
  position: absolute;
  right: 10px;
  top: 10px;
}

.add-patient{
  text-align: right;
}

.patient-profiles .button-box .drop-menu{
  top: 28px;
}

.patient-profiles .button-box .drop-menu ul{
  padding: 10px 0;
}

.patient-profiles .button-box .drop-menu ul li{
  text-align: left;
}

.patient-profiles .button-box .drop-menu ul li a{
  padding: 0;
  font-size: 14px;
}