.profile-listing{
  position: relative;
}
.profile-listing .button-box{
  position: relative;
}

.profile-listing .button-box img{
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.three-dot{
  position: absolute;
  right: 10px;
  top: 10px;
}

.add-patient span{
  font-weight: 600;
}

.profile-listing .button-box .drop-menu{
  top: 28px;
}

.profile-listing .button-box .drop-menu ul{
  padding: 10px 0;
}

.profile-listing .button-box .drop-menu ul li{
  text-align: left;
}

.profile-listing .button-box .drop-menu ul li a{
  padding: 0;
  font-size: 14px;
}