.upload-certifiate input[type="file"]{
  display: inline-block;
  font-size: 0;
}

input[type="file"]::-webkit-file-upload-button {
  /* border: 2px solid #b4b4b4; */
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  outline: none;
  border: none;
  padding: 10px 25px;
  transition: all 1s ease;
}

input[type="file"]::-webkit-file-upload-button:hover {
  /* border: 2px solid #535353; */
  color: #fff;
}

span.close{
  margin-top: 12px;
  cursor: pointer;
}

.upload-certifiate h5{
  display: flex;
  justify-content: flex-end;
}

.upload-certifiate h5+span{
  font-size: 12px;
}