.verification{
  /* height: 100vh; */
  justify-content: flex-start;
}

.verification input[type="text"]{
    width: 40px;
    height: 40px;
    border: 1px solid #e7e7e7;
    text-align: center;
    font-size: 34px;
    padding-top: 10px;
    border: revert;
}