.periodic-data p{
  font-size: 12px;
  margin-bottom: 0;
}

.saved-periodic-data .row .col-6{
  margin-bottom: 20px;
}

.category{
  background: #f3f3f3;
  padding: 10px 20px;
  margin-bottom: 20px;
}

.periodic-data .btn-delete{
  right: 0;
  top: 0;
}


.masonry {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
  gap: 16px;
}

.masonry-item {
  break-inside: avoid;
}