.button-box .prescription img{
  max-height: 135px;
  object-fit: contain;
}

div.file {
  position: relative;
  overflow: hidden;
}

.file input[type="file"] {
  position: absolute;
  font-size: 50px;
  opacity: 0;
  right: 0;
  top: 0;
}

.prescription{
  padding: 20px 20px 0;
  position: relative;
}

.prescription p{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn-delete{
  position: absolute;
  right: 7px;
  top: 7px;
}

/* .btn-delete svg{
  color: black;
} */
.upload-prescription .btn-download{
  position: absolute;
  right: 30px;
  top: 7px;
}
.upload-prescription .btn-download a{
  padding: 0;
}
.upload-prescription .button-box{
  margin-bottom: 20px;
}
.test-reports .button-box{
  margin-bottom: 20px;
}